.card {
    /* margin auto will make the margins equal on each side */
    margin: auto;
    padding: 15px;
    width: 350px;
    border: 1px solid rgb(56, 5, 104);
    /* curve your borders with border radius */
    border-radius: 20px;
    font-family: 'Assistant', sans-serif;
    color: white
    /* *** need to figure out how to do the opacity for the background image ONLY */
    opacity: 1; background-image: url(SUN.png); 
        /* background-image: url("NASASun.jpg"); */
    /* blueviolet */
    /* C:\Users\Owner\Downloads\Affinty Designer\iconic-fonts\FONTS */
}


h3 {
    margin: 0 0 15px 0;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 10px;
    background-color: rgb(235, 212, 13);
}

.image {
    margin: 15px auto;
    width: 350pk;
    height: 350px;
    border: 1px solid #ddd;
    border-radius: 200px;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;    
}

/* this made a box under the image
 .info {
    margin: auto;
    padding: 10px;
    border: 1px solid;
    border: 1px solid #ddd;
    background-color: #fff;
} */

#description {
    font-style: italic;
}

#list-items {
    list-style: none;
    padding-left: 0;
}

#list-items span {
    font-weight: bold;
}

.indent {
    padding-left: 150px;
}